{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "react/prop-types": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}